.main {
    margin: 50px auto;
    height: 60px;
    width: 157px;
    background-image: url(../img/twitterSprite.png);
    background-position: 0 0;
    transition: 1s all;
    /*
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: steps(27);
    animation-iteration-count: infinite;
*/
}

.main1 {
    margin: 50px auto;
    height: 80px;
    background-size: cover;
    width: 34px;
    background-image: url(../img/liSprite.png);
    background-position: 0 0;
    transition: 1s all;
    /*
    animation-name: animate1;
    animation-duration: 2s;
    animation-timing-function: steps(37);
    animation-iteration-count: infinite;
*/
}

.main2 {
    margin: 50px auto;
    height: 80px;
    background-size: cover;
    width: 80px;
    background-image: url(../img/instagramSprite.png);
    background-position: 0 0;
    transition: 1s all;
    /*
    animation-name: animate1;
    animation-duration: 2s;
    animation-timing-function: steps(37);
    animation-iteration-count: infinite;
*/
}

.main:hover {
    animation-name: animate;
    animation-duration: 1s;
    animation-timing-function: steps(27);
    animation-iteration-count: 1;
}

.main1:hover {
    animation-name: animate1;
    animation-duration: 2s;
    animation-timing-function: steps(27);
    animation-iteration-count: 1;
}

.main2:hover {
    animation-name: animate2;
    animation-duration: 1s;
    animation-timing-function: steps(15);
    animation-iteration-count: 1;
}

@keyframes animate {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 4239px 0;
    }
}

@keyframes animate1 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 4239px 0;
    }
}

@keyframes animate2 {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 1200px 0;
    }
}
